/* Style the links inside the pill navigation menu */
.pill-nav li {
  display: inline-block;
  text-align: center;
  padding: 0.2rem 0.6rem 0.2rem 0.6rem;
  text-decoration: none;
  border-radius: 5px;
	margin-right: 0.2rem;
	cursor: pointer;
}

.pill-nav li a {
	color: black;
	padding-bottom: 0rem;
}

.pill-nav li {
  background-color: #fafafa;
	border: 1px solid #fafafa; !important;
}

/* Change the color of links on mouse-over */
.pill-nav li:hover {
  background-color: #d8d8d86e;
	border: 1px solid #fc9601eb !important;
}

/* Add a color to the active/current link */
.pill-nav li.active {
	background-color: #fafafa;
	border: 2px solid #fc9601eb !important;
}

.gallery-filters ul {
	background-color: #fafafa;
}

.modal-content {
	border-radius: 1rem !important;
}

.gallery-footer p a:hover {
	color: #6c757d !important;
}

.modal-footer {
	border-top: 1px solid #dee2e6 !important;
}

.modal-footer span {
	color: #000;
}

.modal-footer a i {
	color: #fc9601eb;
}

.modal-footer a i:hover {
	color: #6c757d!important;
}

.custom-select:focus {
  border-color: #fc9601eb;
  outline: 0;
  box-shadow: 0 0 0 0rem rgba(252,150,1,.25) !important;
}

.custom-file-label {
	background-color: #fafafa;
}

.gallery-content .img-thumbnail {
	width: 100%;
  height: 300px;
	object-fit: cover;
	overflow: hidden;
}

#share-gallery-form .form-control,
#add-gallery-form .form-control,
#edit-gallery-form .form-control {
    color: #000;
}

#share-gallery-form input::placeholder,
#share-gallery-form textarea::placeholder,
#add-gallery-form input::placeholder,
#add-gallery-form textarea::placeholder,
#edit-gallery-form input::placeholder,
#edit-gallery-form textarea::placeholder {
    color: #aab7c4;
}
