.md-form textarea.md-textarea+label {
    top: 0;
}

.line-orange {
    width: 40px;
    border-top: 7px solid #fc9601eb;
    border-radius: 45px;
}

.contact-information {
    border-radius: 30px;
}

.section-body {
    width: 70%;
    margin: 0 auto;
}

#contact-form .form-control {
    color: #000;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
    color: #aab7c4;
}

.contact-form .btn-md {
    padding: .7rem 1.6rem !important;
}
