<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
  {% csrf_token %}
  <div class="md-form d-flex justify-content-center my-1">
    <div class="def-number-input number-input safari_only">
      <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="decrement-qty btn btn-qty minus" data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}"></button>
      <input class="qty_input" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
      <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="increment-qty btn btn-qty plus" data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}"></button>
    </div>
  </div>
</form>
<div class="d-flex justify-content-center mt-1">
  <a class="update-link text-info font-weight-bold mr-4"><small>Update</small></a>
  <a class="remove-item text-danger font-weight-bold" id="remove_{{ item.item_id }}"><small>Remove</small></a>
</div>
