{% extends "base_master.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- hero image -->
<section class="hero-image h-100">
	<div class="container-fluid hero-image-container h-100">
		<div class="row h-100">
			<div class="col-3 offset-1 col-sm-3 col-md-2 col-lg-2 col-xl-2 hero-image-message text-left">
				<h1 class="logo-font text-white font-weight-bold">
					Art and craft supplies!
				</h1>
				<div class="my-xl-4 my-lg-4 my-md-3 my-sm-2">
					<h4>
						<a href="#" class="shop-now-button btn btn-lg sunny-morning-gradient text-uppercase font-weight-bold text-black">Shop Now</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="features-showcase-testimonial">
	<!-- icons grid -->
	<section class="features-icons bg-white text-center">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="fas fa-shipping-fast m-auto text-orange"></i>
						</div>
						<h3>Free worldwilde delivery</h3>
						<p class="mb-0">Free Shipping over $70</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="features-icons-item mx-auto mb-5 mb-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="fas fa-exchange-alt m-auto text-orange"></i>
						</div>
						<h3>30 days</h3>
						<p class="mb-0">to change your mind</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="fas fa-hand-holding-usd m-auto text-orange"></i>
						</div>
						<h3>Satisfaction guaranteed</h3>
						<p class="mb-0">or your money back</p>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="features-icons-item mx-auto mb-4 mb-0 mb-lg-3">
						<div class="features-icons-icon d-flex">
							<i class="far fa-credit-card m-auto text-orange"></i>
						</div>
						<h3>Secured payment</h3>
						<p class="mb-0">100% worry-free</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- image showcases -->
	<section class="showcase bg-white">
		<div class="container-fluid p-0">
			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img zoom" style="background-image: url('/media/home/image_showcases/create-beads-min.jpg');background-color: #555;"></div>
				<div class="col-lg-6 col-lg-6 order-lg-1 my-auto showcase-text">
					<h2 class="text-uppercase text-center">Craft supplies</h2>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 text-white showcase-img" style="background-image: url('/media/home/image_showcases/create-grafiti-min.jpg');background-color: #555;"></div>
				<div class="col-lg-6 my-auto showcase-text">
					<h2 class="text-uppercase text-center">Art supplies</h2>
				</div>
			</div>
			<div class="row no-gutters">
				<div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('/media/home/image_showcases/create-mosaic-min.jpg');background-color: #555;"></div>
				<div class="col-lg-6 order-lg-1 my-auto showcase-text">
					<h2 class="text-uppercase text-center">Craft activities</h2>
				</div>
			</div>
		</div>
	</section>

	<!-- testimonials -->
	<section class="testimonial text-center bg-white">
		<div class="container">
			<div class="testimonial-header">
				<i class="far fa-comments fa-3x my-auto text-orange d-inline"></i>
				<h2 class="text-orange text-bold d-inline">Customer reviews</h2>
			</div>
			<div class="row">
				<div class="col-lg-4">
					<div class="testimonial-item mx-auto mb-5 mb-lg-0 zoom">
						<img class="img-fluid rounded-circle hoverable mb-5" src="/media/home/testimonials/female-1-min.jpg" alt="Adelaide K. picture">
						<h5>Adelaide K.</h5>
						<p class="font-weight-light mb-0">Thank you so much for the excellent quality of the art and craft supplies. I'm always satisfied.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="testimonial-item mx-auto mb-5 mb-lg-0 zoom">
						<img class="img-fluid rounded-circle hoverable mb-5" src="/media/home/testimonials/male-1-min.jpg" alt="Roger H. picture">
						<h5>Roger H.</h5>
						<p class="font-weight-light mb-0">Good quality products, accurate tracked delivery service and flexible return policy. I fully recommend this website.</p>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="testimonial-item mx-auto mb-5 mb-lg-0 zoom">
						<img class="img-fluid rounded-circle hoverable mb-5" src="/media/home/testimonials/female-2-min.jpg" alt="Jessie M. picture">
						<h5>Jessie M.</h5>
						<p class="font-weight-light mb-0">Very friendly and helpful customer service. People've been a great assistance. Many thanks.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<!-- gallery -->
<section class="gallery h-50">
	<div class="container h-100">
		<div class="row h-100">
			<div class="col-6 offset-5 col-sm-8 offset-sm-4 col-md-7 offset-md-5 col-lg-6 offset-lg-6 col-xl-6 offset-xl-6 my-auto text-right">
				<h2 class="logo-font text-white font-weight-bold my-xl-4 my-lg-4 my-md-3 my-sm-2">
					Share your work of art!
				</h2>
				<div class="my-xl-4 my-lg-4 my-md-3 my-sm-2">
					<a href="#" class="share-now-button btn btn-md sunny-morning-gradient text-uppercase font-weight-bold text-brown">Share now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- newsletter -->
<section class="newsletter text-center bg-white">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="subscription">
					<div class="subscription-header">
						<i class="far fa-envelope-open fa-3x my-auto text-orange d-inline"></i>
						<h2 class="text-orange text-bold d-inline">Stay tuned</h2>
					</div>
					<h6 class="mb-5">Subscribe to our newsletter and never miss our latest news, product updates and special offers.</h6>
					<form action="#" method="#">
						<div class="input-group my-4">
							<input type="email" class="form-control border-grey" placeholder="Enter your email">
							<span class="input-group-btn">
								<button class="btn btn-grey" type="submit">Subscribe</button>
							</span>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
