.theia
.gitpod.dockerfile
.gitpod.yml
env
*.sqlite3
*.pyc
.mdb
bootstrap-material-design
package-lock.json
env.py
contact/static/contact/js/contact-form-validation.js
gallery/templates/gallery/gallery_copy.html
