/*--------------------------------------------------------------------------------------------------------------
																									base_extension style
---------------------------------------------------------------------------------------------------------------- */

body {
	background: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)) #fafafa !important;
  font-family: 'Lato', sans-serif;
}

.header-container {
  padding-top: 4rem;
}
