<div class="collapse navbar-collapse navbar-desktop" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="all-products-link">
                <a href="#" class="dropdown-item">By Price</a>
                <a href="#" class="dropdown-item">By Rating</a>
                <a href="#" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Art supplies
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="clothing-link">
                <a href="#" class="dropdown-item">Beads</a>
                <a href="#" class="dropdown-item">Pom poms</a>
                <a href="#" class="dropdown-item">Glitter</a>
                <a href="#" class="dropdown-item">All Art supplies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Craft supplies
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="homeware-link">
                <a href="#" class="dropdown-item">Paint</a>
                <a href="#" class="dropdown-item">Ink & Dyes</a>
                <a href="#" class="dropdown-item">Paper & Cards</a>
                <a href="#" class="dropdown-item">All Craft supplies</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-white mr-5" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="specials-link">
                <a href="#" class="dropdown-item">New arrivals</a>
                <a href="#" class="dropdown-item">Deals</a>
                <a href="#" class="dropdown-item">Clearance</a>
                <a href="#" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
