{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Open+Sans&family=Smythe&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base_master.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_extension.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e576f39845.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Pearl {% block extra_title %}{% endblock %}</title>
</head>

<body>

  <header class="header container-fluid">
    <div id="delivery-banner" class="row text-center">
      <div class="col sunny-morning-gradient text-black">
        <h4 class="logo-font my-1 font-weight-bold">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
      </div>
    </div>

    <div id="topnav" class="row bg-hover pt-lg-2 d-none d-lg-flex">
      <div class="col-12 col-lg-4 my-auto px-1 py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img src="/media/logo/pearl-min.png" alt="Pearl" class="d-inline">
          <h2 class="d-inline logo-font text-white my-0 font-weight-bold">Pearl</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 search-container">
        <form method="GET" action="{% url 'products' %}" class="form-inline d-flex justify-content-center md-form form-sm active-orange-2 my-0">
          <input class="form-control form-control-sm mr-3 w-75" type="text" name="q" placeholder="Search" aria-label="Search">
          <i class="fas fa-search text-white" aria-hidden="true"></i>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item">
            <a class="text-white nav-link" href="#">
              <div class="text-center">
                <div><i class="fas fa-images fa-lg text-white"></i></div>
                <p class="my-0 text-white">
                  Gallery
                </p>
              </div>
            </a>
          </li>
          <li class="list-inline-item dropdown desktop-user-options-container">
            <a class="text-white nav-link" href="#" id="desktop-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg text-white"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="desktop-user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="#" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-basket fa-lg text-white"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark w-100 my-2">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/base_mobile_top_header.html' %}
        {% include 'includes/base_main_nav.html' %}
      </nav>

    </div>
  </header>

  {% if messages %}
  <div class="message-container">
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <footer class="footer bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2 menu-items">
              <li class="list-inline-item">
                <a href="#" class="text-grey">About us</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Contact us</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Shipping</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Return</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Refund Policy</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Terms of use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#" class="text-grey">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0"><i class="far fa-copyright"></i> 2020 by Lucinda Souchet <a href="https://github.com/sctlcd" target="_blank"><i class="fab fa-github text-black"></i><span class="sr-only">Github</span></a>
            </p>
          </div>
          <div class="col-lg-3 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0 social-links">
              <li class="list-inline-item mr-3">
                <a href="https://www.facebook.com/" target="_blank">
                  <i class="fab fa-facebook fa-2x fa-fw text-orange"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="https://twitter.com/" target="_blank">
                  <i class="fab fa-twitter-square fa-2x fa-fw text-orange"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.instagram.com/" target="_blank">
                  <i class="fab fa-instagram fa-2x fa-fw text-orange"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    {% block postloadjs %}
    <script src="{% static 'js/base_extension.js' %}"></script>
    {% endblock %}

</body>

</html>
