{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  <link href="https://fonts.googleapis.com/css2?family=Crafty+Girls&family=Open+Sans&family=Smythe&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/base_master.css' %}">
  <link rel="stylesheet" href="{% static 'css/base_extension.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" />
  {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/e576f39845.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Pearl {% block extra_title %}{% endblock %}</title>
</head>

<body>

  <header class="header container-fluid">
    <div id="delivery-banner" class="row text-center">
      <div class="col bg-orange text-black">
        <h4 class="logo-font my-1 font-weight-bold">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>
      </div>
    </div>

    <div id="topnav" class="row bg-hover pt-lg-2 d-none d-lg-flex topnav">
      <div class="col-12 col-lg-4 my-auto px-1 py-1 py-lg-0 text-center text-lg-left">
        <a href="{% url 'home' %}" class="nav-link main-logo-link">
          <img src="/media/logo/pearl-min.png" alt="Pearl" class="d-inline">
          <h2 class="d-inline logo-font text-white my-0 font-weight-bold">Pearl</h2>
        </a>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 search-container">
        <form method="GET" action="{% url 'products' %}" class="form-inline d-flex justify-content-center md-form form-sm active-orange-2 my-0">
          <input class="form-control form-control-sm mr-3 w-75" type="text" name="q" placeholder="Search" aria-label="Search">
          <i class="fas fa-search text-white" aria-hidden="true"></i>
        </form>
      </div>
      <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
        <ul class="list-inline list-unstyled text-center text-lg-right my-0">
          <li class="list-inline-item dropdown desktop-gallery-container">
            <a class="text-white nav-link" href="#" id="desktop-gallery" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-images fa-lg text-white"></i></div>
                <p class="my-0 text-white">Gallery</p>
              </div>
            </a>
            <div class="dropdown-menu bg-white" aria-labelledby="desktop-gallery">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_gallery' %}" class="dropdown-item">Gallery Management</a>
              {% endif %}
              <a href="{% url 'gallery' %}" class="dropdown-item">Customers photo gallery</a>
              <a href="{% url 'share_gallery' %}" class="dropdown-item">Share your work of art</a>
              {% else %}
              <a href="{% url 'gallery' %}" class="dropdown-item">Customers photo gallery</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item dropdown desktop-user-options-container">
            <a class="text-white nav-link" href="#" id="desktop-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="text-center">
                <div><i class="fas fa-user fa-lg text-white"></i></div>
                <p class="my-0">My Account</p>
              </div>
            </a>
            <div class="dropdown-menu border-0 bg-white" aria-labelledby="desktop-user-options">
              {% if request.user.is_authenticated %}
              {% if request.user.is_superuser %}
              <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
              {% endif %}
              <a href="#" class="dropdown-item">My Profile</a>
              <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
              <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
              <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
              <div class="text-center">
                <div><i class="fas fa-shopping-basket fa-lg text-white"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                  ${{ grand_total|floatformat:2 }}
                  {% else %}
                  $0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-dark w-100 my-2 scrolling-navbar">
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include 'includes/base_mobile_top_header.html' %}
        {% include 'includes/base_main_nav.html' %}
      </nav>

    </div>
  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    {% with message.level as level %}
    {% if level == 40 %}
    {% include 'includes/toasts/toast_error.html' %}
    {% elif level == 30 %}
    {% include 'includes/toasts/toast_warning.html' %}
    {% elif level == 25 %}
    {% include 'includes/toasts/toast_success.html' %}
    {% else %}
    {% include 'includes/toasts/toast_info.html' %}
    {% endif %}
    {% endwith %}
    {% endfor %}
  </div>
  {% endif %}

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block page_bottom %}
  {% endblock %}

  <!-- Footer -->
  <footer class="page-footer unique-color-dark">

    <!-- Social buttons -->
    <div class="bg-dark-grey">
      <div class="container">
        <!--Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!--Grid column-->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0 text-orange">Get connected with us!</h6>
          </div>

          <!--Grid column-->
          <div class="col-md-6 col-lg-7 connect-links text-center text-md-right">
            <a class="ml-0" href="https://www.facebook.com/" target="_blank">
              <i class="fa fa-facebook text-orange mr-4"> </i>
            </a>
            <a href="https://www.pinterest.com/" target="_blank">
              <i class="fab fa-pinterest-p text-orange mr-4"> </i>
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="fab fa-instagram text-orange mr-4"> </i>
            </a>
            <a href="https://twitter.com/" target="_blank">
              <i class="fa fa-twitter text-orange mr-4"> </i>
            </a>
            <a href="https://www.youtube.com/" target="_blank">
              <i class="fab fa-youtube text-orange mr-lg-4"> </i>
            </a>
          </div>

        </div>
      </div>
    </div>

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left mb-3">
      <div class="row mt-3">

        <!--First column-->
        <div class="company col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
          <h6 class="text-uppercase font-weight-bold">Pearl</h6>
          <hr class="bg-orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Makes arts and crafts happen for everyone's happiness, both adults and children!</p>
        </div>

        <!--Second column-->
        <div class="about-links col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
          <h6 class="text-uppercase font-weight-bold">About</h6>
          <hr class="bg-orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#">Shipping</a>
          </p>
          <p>
            <a href="#">Return</a>
          </p>
          <p>
            <a href="#">Refund policy</a>
          </p>
          <p>
            <a href="#">Term of use</a>
          </p>
          <p>
            <a href="#">Privacy policy</a>
          </p>
        </div>

        <!--Third column-->
        <div class="contact col-md-3 col-lg-3 col-xl-3 mx-auto">
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="bg-orange accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-map-marker-alt mr-3"></i>New Orleans, LA 70125, USA</p>
          <p>
            <i class="fas fa-envelope mr-3"></i>pearl@info.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i>+1 504 555 5555</p>
            <p><i class="fas fa-building mr-3"></i> Mon - Fri, 8:00-20:00</p>
           <a href="{% url 'contact' %}" class="btn btn-sm contact-button sunny-morning-gradient waves-effect font-weight-bold text-black">Contact us</a>
        </div>

      </div>
    </div>

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright: by
      <a href="https://github.com/sctlcd/" target="_blank"> Lucinda Souchet <i class="fab fa-github ml-1"></i><span class="sr-only">Github</span></a>
    </div>

  </footer>

  {% block postloadjs %}
  <script src="{% static 'js/base_extension.js' %}"></script>
  {% endblock %}

</body>

</html>
