.bag-container .form-group {
  margin-bottom: 0.3rem;
}

.bag-container-mobile .product-image img {
  display: block;
  margin: auto;
}

.bag-container-desktop .product-image img {
  width: 80%;
  margin: 0 auto 0 auto;
}

.product-image img {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.product-image img:hover {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.22);
}
